<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <CustomLevels>
        <CustomLevel name="DATA" intLevel="5" />
    </CustomLevels>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="FileAppender" fileName="logs/app/appLog-${date:yyyyMMdd}.log"  bufferedIO="true"  append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <ThresholdFilter level="DATA" onMatch="DENY" onMismatch="ACCEPT"/>
        </File>
        <File name="dataLog" fileName="logs/data/datalog-${date:yyyyMMdd}.log" immediateFlush="true" bufferedIO="false"  append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <ThresholdFilter level="DATA" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="ConsoleAppender" level="debug"/>
            <AppenderRef ref="FileAppender" level="warn"/>
            <AppenderRef ref="dataLog" level="data"/>
        </Root>
    </Loggers>
</Configuration>