<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="FileAppender" fileName="sensor-${date:yyyyMMdd}.log"  bufferedIO="true"  append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <filter class="org.apache.log4j.varia.LevelRangeFilter">
                <param name="LevelMin" value="info" />
                <param name="LevelMax" value="info" />
                <param name="AcceptOnMatch" value="true" />
            </filter>
        </File>
        <File name="FileAppender" fileName="datalog-${date:yyyyMMdd}.log" immediateFlush="true" bufferedIO="false"  append="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <filter class="org.apache.log4j.varia.LevelRangeFilter">
                <param name="LevelMin" value="warn" />
                <param name="LevelMax" value="error" />
                <param name="AcceptOnMatch" value="true" />
            </filter>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>